<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>

     <h1>Lunch Checker</h1>

         <div class="form-group">
           <label style="font-style : italic; opacity : 0.5">Attention: NOT consider empty item, i.e., , , as an item towards to the count, </label>
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="dishes"
             style="border-color : {{color}}">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="displayMessage(dishes)">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           <p style="color: {{color}}">{{message}}</p> <br>
           <!-- {{dishes}} <br> -->
           {{output}}

         </div>
   </div>

</body>
</html>
